:root {
    --color-bg: #171a1f;
    --color-panel: #22282f;
    --color-panel-even: #252b32;
    --color-panel-odd: #1f252c;
    --color-panel-border: #234;
    --color-text: #def;
    --color-heading: #cdc;
    --color-link: #7fb;
    --color-link-hover: #afd;
    --color-li-hover: #445;
    --color-copyright: #888;
    --color-shadow: #0005;
    --color-kopert: #8fc042;
    --color-social-row: #12181f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 1rem 0.5rem;
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
}

.container {
    max-width: 60rem;
    margin: auto;
}

.title-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.title-block h1 {
    margin: 0;
    font-size: 3rem;
    color: var(--color-heading);
}

.tagline {
    font-style: italic;
    font-size: 1rem;
    color: var(--color-text);
    margin-top: 0.5rem;
}

.logo-svg {
    width: clamp(4rem, 20vw, 8rem);
    height: clamp(4rem, 20vw, 8rem);
    flex-shrink: 0;
    background: url("./assets/kopert.svg") center / 125% no-repeat;
}

.social-list {
    margin: 1rem auto;
    max-width: 45rem;
}

.social-row {
    display: flex;
    background-color: var(--color-social-row);
    transition: background-color 0.4s;
    border-radius: 10rem;
    box-shadow: 0 0.2rem 0.8rem var(--color-shadow);
    border: 0.1rem solid var(--color-panel-border);
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.social-row:hover {
    background-color: var(--color-li-hover);
}

.social-icon {
    width: 5rem;
    min-height: 4rem;
    background:
        0 center / 105% no-repeat,
        0 0;
    box-shadow: 0.2rem 0 0.8rem var(--color-shadow);
    flex-shrink: 0;
}

.social-text {
    margin: auto 0;
    font-size: 1.15rem;
    color: var(--color-text);
    padding: 0 1rem;
}

.social-text-small {
    display: none;
}

.twitch-svg {
    background-image: url("./assets/twitch.svg"), linear-gradient(to bottom, #6441a5, #442185);
}

.discord-svg {
    background-image: url("./assets/discord.svg"), linear-gradient(to bottom, #5865f2, #3845d2);
}

.youtube-svg {
    background-image: url("./assets/youtube.svg"), linear-gradient(to bottom, #ff0000, #990000);
}

.panels-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.panel:not(:has(ol)) {
    display: none;
}

.panel {
    background: var(--color-panel);
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.8rem var(--color-shadow);
    padding: 1rem;
    border: 0.1rem solid var(--color-panel-border);
}

.panel h2 {
    margin: -0.5rem -1rem 1rem -1rem;
    font-variant: small-caps;
    font-size: 1.15rem;
    text-align: center;
    color: var(--color-heading);
    border-bottom: 0.1rem solid var(--color-panel-border);
    padding: 0rem 0 0.5rem 0;
    background: transparent;
}

.panel-wide {
    grid-column: 1 / span 2;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: inline-block;
    width: 100%;
}

.game-entry {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 0.5rem;
    background-color: var(--color-panel-even);
    transition: background-color 0.4s;
}

li:nth-child(odd) .game-entry {
    background-color: var(--color-panel-odd);
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-self: center;
    align-items: baseline;
}

.game-list .game-entry:hover {
    background: var(--color-li-hover);
}

.game-thumbnail-container {
    width: 8.4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem var(--color-shadow);
    flex-shrink: 0;
    background: url("assets/loading.svg") center / 50% no-repeat;
}

.game-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-title {
    font-weight: 600;
    color: var(--color-link);
}

.game-meta {
    color: var(--color-text);
    font-weight: 200;
}

.game-meta::before {
    content: " (";
}

.game-meta::after {
    content: ")";
}

.game-meta-system + .game-meta-year::before {
    content: ", ";
}

.game-extra {
    color: var(--color-text);
    font-variant: small-caps;
    font-size: 0.85rem;
    font-weight: 800;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.4s;
}

a:hover .game-title,
.panel-no-list a:hover {
    color: var(--color-link-hover);
    text-decoration: underline var(--color-link-hover);
}

.copyright {
    text-align: center;
    color: var(--color-copyright);
    font-size: 0.95rem;
    margin: 2rem 0;
}

@media (max-width: 25rem) {
    .logo-svg {
        display: none;
    }
}

@media (max-width: 60rem) {
    .panels-grid {
        grid-template-columns: 1fr;
    }
    .panel-wide {
        grid-column: auto;
    }
    .game-entry {
        padding: 0.3rem 0.1rem;
    }
    .game-thumbnail-container {
        display: none;
    }
    .game-info {
        flex-direction: row;
        gap: 0rem 0.5rem;
    }
    ol {
        list-style-type: revert;
        padding: revert;
    }
    .social-icon {
        width: 3.5rem;
        min-height: 2.5rem;
    }
    .social-text {
        font-size: 1rem;
    }
    .social-text-large {
        display: none;
    }
    .social-text-small {
        display: revert;
    }
}
